.padding {
    padding-top:12%;
}

@media (max-width: 541px) {
    .image-wrapper {
        margin-top: 40px;
        margin-bottom: 80px;
    }   
}

.title {
    font-family: Inter;
    font-size: 540%;
    padding-left: 4%;
}

@media (max-width: 541px) {
    .title {
        font-size: 240%;
        margin-top: 8%;
        margin-bottom: 2%;
    }  
}

.maintext {
    font-family: Inter;
    padding-left: 4%;
    padding-top: 2%;
    font-size: 180%;
    max-width: 70%;
}

@media (max-width: 541px) {
    .maintext {
        font-size: 120%;
        max-width: 100%;
        padding-right: 4%;
    }   
}
.company-and-tag {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
}

.image-and-content {
    display: flex;
    margin-left: 4%;
    margin-top: 4%;
    align-items: center;
}

@media (max-width: 541px) {
    .image-and-content {
        display: flex;
        flex-direction: column;
    }   
}

.subtext {
    padding-top: 1%;
    font-family: Inter;
    font-size: 144%;
}

@media (max-width: 541px) {
    .subtext {
        font-size: 120%;
    }   
}

.button-text {
    padding-top: 1%;
    max-width: 50%;
    font-family: Inter;
    font-size: 100%;
    font-weight: 600;
    background-color: rgb(242, 242, 242);
    color: black !important;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 30px;
}

.another-maintext {
    font-family: Inter;
    font-size: 180%;
}

.right-half {
    padding-left: 4%;
    padding-right: 4%;
}

.my-line {
    width: 92%;
    margin: 0 auto;
    border:none;
    height: 50px;
    border-bottom: 3px solid lightgrey;
    padding-bottom: 6%;
}

.some-spacing {
    padding-top: 2%;
}