.big-text {
    color: white;
    text-align: left;
    padding-top: 12%;
    margin-left: 4%;
    font-family: inter;
    font-size: 900%;
    max-width: 90%;
    line-height: 1;
    align-self: right
}

@media (max-width: 541px) {
    .big-text {
        display: flex;
        font-size: 300%;
        padding-top: 20%;
        line-height: 1.5;
        justify-content: center;
        text-align: center;
    }  
}

.sub-text {
    color: white;
    text-align: right;
    align-self: right;
    align-items: right;
    font-family: inter;
    font-size: 186%;
    width: 71%;
    margin-right: 4%;
    margin-top: 6%;
    margin-bottom: 6%;
}

@media (max-width: 541px) {
    .sub-text {
        display: flex;
        justify-content: center;
        text-align: left;
        font-size: 130%;
        padding-top: 4%;
        line-height: 1.5;
        width: 90%;
    }  
}

.my-container {
    display: flex;
    justify-content: flex-end; 

}

.my-background {
    background-image: url('/numberbase.png'); 
    background-size: cover; 
    
}