.silicon-valley-based {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    font-family: Inter;
    padding-top: 8%;
    padding-bottom: 4%;
    font-size: 140%;
}

.connect-maintext {
    font-family: Inter;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 270%;
}

.about-and-number {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    text-decoration: underline;
    font-size: 120%;
    font-weight: 600;
    padding-bottom: 8%;
}

.website {
    padding-left: 4%;
    text-align: right;
    padding-right: 4%;
    padding-top: 4%;
    text-decoration: underline;
    font-size: 120%;
    font-weight: 600;
}

.capital-us {
    display: flex;
}

.silicon-valley-us {
    align-items: left;
    text-align: left;
    min-width: 100%;
    font-weight: 600;
    text-decoration: underline;
}

.venture-capital {
    min-width: 60%;
}

.in-touch-button {
    font-family: Inter;
    color: black;
    font-weight: 600;
    font-size: 70%;
    border-radius: 30px;
    background-color: 'transparent';
    border-color: black;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
    
}