.silicon-valley-based {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    font-family: Inter;
    padding-top: 8%;
    padding-bottom: 4%;
    font-size: 140%;
}

@media (max-width: 541px) {
    .silicon-valley-based {
        font-size: 100%
    }  
}

.connect-maintext {
    font-family: Inter;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 270%;
}

@media (max-width: 541px) {
    .connect-maintext {
        font-size: 130%;
    }  
}

.about-and-number {
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    text-decoration: underline;
    font-size: 120%;
    font-weight: 600;
    padding-bottom: 8%;
}
@media (max-width: 541px) {
    .about-and-number {
        font-size: 100%;
    }  
}
.website {
    padding-left: 4%;
    text-align: right;
    padding-right: 4%;
    padding-top: 4%;
    text-decoration: underline;
    font-size: 120%;
    font-weight: 600;
}

@media (max-width: 541px) {
    .website {
      
    }  
}

.capital-us {
    display: flex;
}

@media (max-width: 541px) {
    .capital-us {
        display: flex;
        flex-direction: column;
    }  
}


.silicon-valley-us {
    align-items: left;
    text-align: left;
    min-width: 100%;
    font-weight: 600;
    text-decoration: underline;
}

.venture-capital {
    min-width: 60%;
}

@media (max-width: 541px) {
    .venture-capital {
        min-width: 100%
    }  
}

.in-touch-button {
    font-family: Inter;
    color: black;
    font-weight: 600;
    font-size: 70%;
    border-radius: 30px;
    background-color: 'transparent';
    border-color: black;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

@media (max-width: 541px) {
    .in-touch-button {
        font-size: 100%;
    }  
}