.upcoming-title {
    font-family: Inter;
    font-size: 540%;
    padding-top: 8%;
    padding-left: 4%;
}

@media (max-width: 541px) {
    .upcoming-title {
        font-size: 240%;
    } 
}


.first-row {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}



.eventtitle-and-arrow {
    display:flex;
    justify-content: space-between;
}

.events-and-more {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 4%;
}

.make-closer {
    line-height: 0.2;
}

.more-events {
    font-weight: 600;
    text-decoration: underline;
}

@media (max-width: 541px) {
    .more-events{
        font-size: 100%;
    
    } 
}

.my-line {
    width: 100%;
    border:none;
    height: 50px;
    border-bottom: 3px solid lightgrey;
    padding-bottom: 2%;
}

.image-and-events {
    display: flex;
    padding-left: 4%;
    padding-top: 6%;
    align-items: start;
}

@media (max-width: 541px) {
    .image-and-events {
        display: flex;
        flex-direction: column;
    } 
}


.end-of-year {
    font-family: Inter;
    font-size: 180%;
    width: 80%;
    padding-top: 2%;
}
@media (max-width: 541px) {
    .end-of-year {
        font-size: 130%;
    } 
}

.all-events {
    padding-left: 4%;
    width: 70%;
    padding-right: 4%
}

@media (max-width: 541px) {
    .all-events {
        width: 100%;
        margin-top: 20px;
    } 
}


.myy-arrow {
    margin-top: 2%;
}

.small-text {
    display: flex;
    gap: 2rem;
    margin-top: 7%;
    margin-bottom: 3%;
}