.background {
    background-image: url('/Bottom-base.png'); 
    background-size: contain; 
    background-position: bottom center;
    background-repeat: no-repeat; 
    width: 100%; 
    margin-top: 4%;
} 

@media (max-width: 1200px) {
    .background {
        background-size: cover;
    }
    
}

.lets-chat {
    font-family: Inter;
    font-size: 900%;
    color: white;
    padding-top: 6%;
    padding-left: 4%;
}

@media (max-width: 541px) {
    .lets-chat {
        font-size: 300%;
    }
    
}

.shaping-and-contact {
    display: flex;
    justify-content: space-between;
    padding-right: 4%;
}

.shaping {
    font-family: Inter;
    font-size: 186%;
    color: white;
    padding-left: 4%;
}

@media (max-width: 541px) {
    .shaping {
        font-size: 130%;
    }
    
}

.my-button {
    font-family: Inter;
    font-size: 130%;
    color: black;
    background-color: white;
    font-weight: 600;
    border-radius: 30px;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    padding-left: 2%;
    padding-right: 2%;
}

@media (max-width: 541px) {
    .my-button {
        font-size: 90%;
        padding-left: 4%;
        
    }
    
}

.my-line {
    width: 92%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.first-horizontal {
    display: flex;
    font: Inter;
    font-size: 120%;
    font-weight: 600;
    color: white;
    gap: 40px;
}

@media (max-width: 541px) {
    .first-horizontal {
        gap: 30px;
        margin-top: 3%;
        font-size: 100%;
        
    }
    
}


.bottom-part {
    display: flex;
    align-items: top;
    padding-left: 4%;
    justify-content: space-between;
    padding-right: 4%;
    margin-top: 5%;
}

.right-block {
    line-height: 4.1;
    
}

.email-and-number {
    line-height: 1.1;
    text-align: right;
}

.email {
    font: Inter;
    font-size: 120%;
    color: white;
    text-decoration: underline;
    margin-top: 20%;
    margin-bottom: 6%;
    font-weight: 600;
}

@media (max-width: 541px) {
    .email {
        margin-top: 20%;
        font-size: 100%;
    }
}

.number {
    font: Inter;
    font-size: 120%;
    color: white;
    text-decoration: underline;
    font-weight: 600;
}

.subscribe-to-events {
    font-size: 120%;
    font-weight: 600;
    color: white;
    align-items: right;
    margin-top: 6%;
    text-align: right;
}

@media (max-width: 541px) {
    .subscribe-to-events {
        font-size: 100%;
    }
}