.second-vertical {
    font: Inter;
    font-size: 120%;
    font-weight: 600;
    color: white;
    line-height: 4.6;
}

@media (max-width: 541px) {
    .second-vertical {
        font-size: 100%;   
    }
    
}

.first-vertical {
    font: Inter;
    font-size: 120%;
    font-weight: 600;
    color: white;
    line-height: 4.6;
    margin-right: 60%;

}

@media (max-width: 541px) {
    .first-vertical {
        margin-right: 30px;
        font-size: 100%;
        
    }
    
}

.bottom-part {
    display: flex;
    align-items: top;
}

@media (max-width: 541px) {
    .bottom-part {
        gap: 0px;
    }
    
}