.padding {
    padding-top:12%;
}

.title {
    font-family: Inter;
    font-size: 540%;
    padding-left: 4%;
    padding-bottom: 4%;

}

.maintext {
    font-family: Inter;
    padding-left: 4%;
    padding-top: 2%;
    font-size: 180%;
    max-width: 70%;
}

.company-and-tag {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
}

.image-and-content {
    display: flex;
    margin-left: 4%;
    margin-top: 4%;
    align-items: center;
}

.subtext {
    padding-top: 1%;
    font-family: Inter;
    font-size: 144%;
    padding-right: 4%;
    padding-bottom: 5%;
}

.another-maintext {
    font-family: Inter;
    font-size: 180%;
    padding-bottom: 5%;
}

.right-half {
    padding-left: 4%;
    padding-right: 4%;
    text-align: left;
    max-width: 66%;
}

.my-line {
    width: 92%;
    margin: 0 auto;
    border:none;
    height: 50px;
    border-bottom: 3px solid lightgrey;
    padding-bottom: 3%;
}

.some-spacing {
    padding-top: 2%;
}

.dates-and-location {
    display: flex;
    font-family: Inter;
    gap: 2%;
}

.image-wrapper {

    max-width: 500px; 

}