.title {
    font-family: Inter;
    font-size: 540%;
    padding-bottom: 4%;
}

@media (max-width: 541px) {
    .title {
        font-size: 240%;
        margin-top: 20%;
        margin-bottom: 2%;
        padding-left: 4%;
    }   
}


.padding {
    padding-top:12%;
    display: flex;
}
@media (max-width: 541px) {
    .padding {
        flex-direction: column;
    }   
}

.maintext {
    font-family: Inter;
    padding-left: 4%;
    padding-top: 2%;
    font-size: 180%;
    max-width: 70%;
}

.subtext {
    padding-top: 1%;
    font-family: Inter;
    font-size: 144%;
    padding-right: 4%;
}

@media (max-width: 541px) {
    .subtext {
        padding-left: 4%;
    }   
}

.another-maintext {
    font-family: Inter;
    font-size: 180%;
    padding-bottom: 1%;
    padding-top: 8%;
}

@media (max-width: 541px) {
    .another-maintext {
        padding-left: 4%;
    }   
}

.small-text {
    font-family: Inter;
    text-decoration: underline;
    padding-top: 3%;
}
@media (max-width: 541px) {
    .small-text {
        padding-left: 4%;
    }   
}

.left-part {
    padding-left: 4%;
    width: 40%;
}

@media (max-width: 541px) {
    .left-part {
        width: 100%;
    }   
}

.right-part {
    padding-left: 8%;

}

.small-label {
    padding-bottom: 4%;
    padding-top: 12%;
}

.the-button {
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 220%;
    margin-top: 12%;
    font-family: Inter;
    padding-top: 3%;
    padding-bottom: 3%;
}

@media (max-width: 541px) {
    .the-button {
      width: 90%; 
    }
  }

.text-field {
    width: 220%;
  }
  

  @media (max-width: 541px) {
    .text-field {
      width: 90%; 
    }
  }

  @media (prefers-color-scheme: dark) {
    .text-field .MuiInputBase-root {
      background-color: #333333 !important; 
      color: #ffffff; 
    }
    
    .text-field .MuiInputBase-input {
      color: #ffffff !important; 
    }
    
    .text-field .MuiInputLabel-root {
      color: #bbbbbb !important; 
    }
  }